@model SistemaDeVentasXiaomi.Models.Venta

@{
    Layout = null;
}

<h1>Recibo</h1>
<h4>Numero: @Html.DisplayFor(model => model.NroVenta) </h4>

<hr />

<div>
    <p>
        Nombre: @Html.DisplayFor(model => model.Cliente!.Info)
    </p>
    <p>
        Fecha: @Html.DisplayFor(model => model.FechaVenta)
    </p>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>@Html.DisplayFor(model => model.Televisor!.Info)</th>
            <th>@Html.DisplayFor(model => model.Cantidad)</th>
            <th>@Html.DisplayFor(model => model.Total)</th>
        </tr>
    </table>

   

